html, body {
    height: 50%;
    margin: 20px;
}
table {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
}
td {
    border: 2px solid rgb(0, 0, 0);
    width: 100px; /* Fixe la largeur de la cellule */
    text-align: center;
    font-size: 30px;
}
.col1 {
    width: 100px; /* Fixe la largeur de la cellule */
    text-align: center;
}
.col2 {
    width: calc(100% - 100px); /* La largeur restante pour la deuxième colonne */
    text-align: center;
}


.small-text {
    width: 10px;    /* Ajuste le padding si nécessaire */
}

/*STYLE DES LIGNES DU TABLEAU */

/* Styles pour les colonnes supplémentaires */
.additional-column {
    width: 100px; /* Fixe la largeur de la cellule */
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-left: none;
    

}
/* Masque les bordures verticales centrales */
.additional-column:not(:first-child):not(:last-child) {
    border-right: none;
}


/* BOUTON VALEUR */

.add-value {
    
    background-color: #f0f0f0; /* Change la couleur de fond */
    color: #000000; /* Change la couleur du texte */
    border-radius: 50%; /* Ajoute des coins arrondis */
    padding: 5px 10px; /* Ajoute des marges internes */
    font-size: 20px; /* Change la taille de la police */
    cursor: pointer; /* Change le curseur au survol */
}
.add-value:hover {
    background-color: #e0e0e0; /* Change la couleur de fond au survol */
    border-color: #aaa; /* Change la couleur de la bordure au survol */
}
.add-value:active {
    background-color: #d0d0d0; /* Change la couleur de fond lors du clic */
    border-color: #999; /* Change la couleur de la bordure lors du clic */
}


/* BOUTON POSITIF/NEGATIF */ 

/* Cible les boutons avec la classe 'moreLess' */
button.moreLess {
    background-color: #f0f0f0; /* Change la couleur de fond */
    color: #000000; /* Change la couleur du texte */
    border-radius: 5px; /* Ajoute des coins arrondis */
    padding: 5px 10px; /* Ajoute des marges internes */
    font-size: 20px; /* Change la taille de la police */
    cursor: pointer; /* Change le curseur au survol */
}
button.moreLess:hover {
    background-color: #e0e0e0; /* Change la couleur de fond au survol */
    border-color: #aaa; /* Change la couleur de la bordure au survol */
}


/* BOUTON AVEC VI, 0 ET VIDE */

/* Cible les boutons avec la classe 'VI' */
button.VI {
    background-color: #29d36a; /* Change la couleur de fond */
    color: #000000; /* Change la couleur du texte */
    border-radius: 5px; /* Ajoute des coins arrondis */
    padding: 5px 10px; /* Ajoute des marges internes */
    font-size: 20px; /* Change la taille de la police */
    cursor: pointer; /* Change le curseur au survol */
}
/* Ajoute un effet au survol */
button.VI:hover {
    background-color: #e0e0e0; /* Change la couleur de fond au survol */
    border-color: #aaa; /* Change la couleur de la bordure au survol */
}


/* BOUTON AVEC LES FLECHES */ 

/* Cible les boutons avec la classe 'increase' */
button.increase {
    width: 100%; /* Pour remplir toute la largeur de la cellule */
    height: 100%; /* Pour remplir toute la hauteur de la cellule */
    font-size: 80px; /* Ajustez la taille de la police selon vos besoins */
    line-height: 1; /* Pour aligner verticalement le contenu au centre */
    display: flex; /* Pour utiliser la disposition flexbox */
    justify-content: center; /* Pour aligner horizontalement le contenu au centre */
    align-items: center; /* Pour aligner verticalement le contenu au centre */
    background-color: #f0f0f0; /* Change la couleur de fond */
    cursor: pointer; /* Change le curseur au survol */
    margin: 5px;
}
/* Ajoute un effet au survol */
button.increase:hover {
    background-color: #e0e0e0; /* Change la couleur de fond au survol */
    border-color: #aaa; /* Change la couleur de la bordure au survol */
}

/* MENU DEROULANT */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.enter_function{
    font-size: 20px; 
}
input[type="text"] {
    width: 50px; 
    height: 20px; 
    padding: 2px; 
    font-size: 16px; 
    text-align: center;
}


#functionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.enter_function {
    display: flex;
    align-items: center;
}