/* COMPOSITION DE L'INTERFACE */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.buton_addline{
    margin-left: 20%;
}
.buton_removeline{
    margin-left: 4%;
}
.container {
    border: 1px solid #000;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box1 {
    border: 1px solid #000;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* font-size: 24px; */
}

.box2 {
    border: none;
    display: flex;
    justify-content:start ;
    align-content: start;
    align-items:start ;
    font-size: 24px;
}
.error-message {
    position: absolute;
    margin-top: 50px; 
    text-align: center;
}

.box3 {
    border: 2px solid black; 
    padding: 10px; 
}

table {
    margin-left: 1%;
    width: 95%;
    height: 80%;
    border-collapse: collapse;
}
.enter_function{
    font-size: 20px; 
    justify-content: start;
    padding: 10px; 
}

.enter_deriv {
    font-size: 20px; 
    justify-content: start;
    padding: 10px; 
}

input[type="text"] {
    width: 50px; 
    height: 20px; 
    padding: 2px; 
    font-size: 16px; 
    text-align: center;
    justify-content: start;

}

.box3 textarea {
    width: calc(100% - 24px); 
    height: 100%;
    resize: none; 
    box-sizing: border-box; 
    border: none; 
    outline: none;
    margin: 0; 
    padding: 0;
    font-size: 30px;
}

.box4 {
    border: 1px solid #000;
    display: flex;
    justify-content:start ;
    align-content: start;
    align-items:start ;
    font-size: 24px;
    overflow-y: scroll;
}

.top-right-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px; 
    background-color: red; 
    color: white; 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    border-radius: 30%; 
}

/* STYLE GENERAL DU TABLEAU */

table {
    width: 80%;
    height: 10%;
    border-collapse: collapse;
    position: relative; 
}

td {
    border: 2px solid rgb(0, 0, 0);
    width: 100px; 
    text-align: center;
    font-size: 30px;
}

.col1 {
    width: 100px; 
    text-align: center;
}

.col2 {
    width: calc(100% - 100px); /* largeur restante pour la deuxième colonne */
    text-align: center;
}

/* STYLE DES LIGNES DU TABLEAU */

/* Styles pour les colonnes supplémentaires */
.additional-column {
    width: 100px; 
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-left: none;
    
}
/* Masquer les bordures verticales centrales */
.additional-column:not(:first-child):not(:last-child) {
    border-right: none;
}

/* Une bordure uniquement à la première cellule éditable */
td.editable-cell.first-cell {
    border: 2px solid black; 
}

/* BOUTON VALEUR */

.add-value {
    
    background-color: #f0f0f0;
    color: #000000;
    border-radius: 50%; 
    padding: 5px 10px; 
    font-size: 20px; 
    cursor: pointer; 
}

.add-line {
    
    background-color: #f0f0f0; 
    color: #000000; 
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px; 
    cursor: pointer; 
}

/* le bouton d'ajout de colonnes */
button.add-value[disabled] {
    background-color: #ccc; 
    opacity: 0.5; 
    cursor: not-allowed; 
}

.add-value:hover {
    background-color: #e0e0e0; 
    border-color: #aaa; 
}
.add-value:active {
    background-color: #d0d0d0;
    border-color: #999; 
}

/* BOUTON POSITIF/NEGATIF */ 

/* Cibler les boutons avec la classe 'moreLess' */
button.moreLess {
    background-color: #f0f0f0;
    color: #000000; 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 20px; 
    cursor: pointer; 
}
button.moreLess:hover {
    background-color: #e0e0e0;
    border-color: #aaa; 
}
button.moreLess:active {
    background-color: #d0d0d0; 
    border-color: #999; 
}

/* BOUTON AVEC VI, 0 ET VIDE */

/* Cibler les boutons avec la classe 'VI' */
button.VI {
    background-color: #55a775;
    color: #000000; 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 20px; 
    cursor: pointer; 
}
/* Ajouter un effet au survol */
button.VI:hover {
    background-color: #e0e0e0;
    border-color: #aaa; 
}
/* Ajouter un effet lorsqu'on clique */
button.VI:active {
    background-color: #d0d0d0;
    border-color: #b8b8b8; 
}

/* BOUTON AVEC LES FLECHES */ 

/* Cibler les boutons avec la classe 'increase' */
button.increase {   
    padding: 5px 10px; 
    font-size: 3em; 
    margin-top: 5px;
    line-height: 1; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: transparent;
    cursor: pointer; 

}
/* Ajouter un effet au survol */
button.increase:hover {
    background-color: #e0e0e0;
    border-color: #a5a5a5; 
}
/* Ajouter un effet lorsqu'on clique */
button.increase:active {
    background-color: #d0d0d0; 
    border-color: #999; 
}

/* MENU DEROULANT */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style pour le menu contextuel */
.context-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    padding: 5px 0;
    z-index: 1000;
}

.context-menu div {
    padding: 8px;
    cursor: pointer;
}

.context-menu div:hover {
    background-color: #f2f2f2;
}

.TitleApi{
    font-weight: bold;
}
